<form class="form-inline" role="search">
  <div class="form-group">
    <input class="form-control mr-sm-4"
           id="search"
           type="search"
           name="search"
           aria-label="<%= t("administrate.search.label",resource: resource_name) %>"
           placeholder="<%= t("administrate.search.label",resource: resource_name) %>"
           value="<%= search_term %>">
  </div>
</form>
