<div class="text-right">
  Usuario: <%= current_user.email %> - <%= link_to('Actualizar mi perfil', edit_user_registration_path) %> - <%= link_to('Salir', destroy_user_session_path, method: :delete) %>
</div>
